@using Common.Entities;
@model Artist
@{
    ViewBag.Title = "Modificar artista";
}
<div class="artistpanel">
  <form method="post" action="/Artist/DoUpdate">
    <h2>Modificar artista</h2>
    <div style="display: inline-flex;">
      <div style="display: inline-block;">
        <label for="firstName">Nombre</label>
        <input type="text" class="form-control" id="firstName" name="firstName" value="@Model.FirstName" placeholder="">
      </div>

      <div>
        <label for="lastName">Apellido</label>
        <input type="text" class="form-control" id="lastName" name="lastName" value="@Model.LastName" placeholder="">
      </div>
    </div>
    <div>
      <div style="float: left;">
        <label for="lifeSpan">Años de vida</label>
        <input type="number" class="form-control" id="lifeSpan" name="lifeSpan" min="1" max="110" value="@Model.LifeSpan">
      </div>

      <div style="float: right;">
        <label for="country">País</label>
        <input type="text" class="form-control" id="country" name="country" value="@Model.Country" placeholder="">
      </div>
    </div>
    <div>
      <div style="float: left;">
        <label for="description">Descripción</label>
        <input type="text" class="form-control" id="description" name="description" value="@Model.Description" placeholder="">
      </div>

      <div style="float: right;">
        <label for="totalProducts">Cantidad de cuadros</label>
        <input type="number" class="form-control" id="totalProducts" name="totalProducts" min="1" max="500" value="@Model.TotalProducts">
      </div>
    </div>

    @Html.HiddenFor(model => model.Id)

    <button type="submit" class="button-principal">Guardar</button>
  </form>
</div>
