@using Common.Entities;
@model Product
@{
    ViewBag.Title = "Modificar producto";
}
<div class="productpanel">
  <form method="post" action="/Product/DoUpdate">
    <h2>Modificar producto</h2>
    <div style="display: inline-flex;">
      <div style="display: inline-block;">
        <label for="title">Título</label>
        <input type="text" style="width: 280px;" class="form-control" id="title" name="title" value="@Model.Title" placeholder="">
      </div>
      <div style="padding-left: 45px;">
        <label for="description">Descripción</label>
        <input type="text" class="form-control" id="description" name="description" value="@Model.Description" placeholder="">
      </div>
    </div>
    <div>
      <div style="float: left;">
        <label for="artistId">Artista</label>
        @Html.DropDownList("ArtistId", ViewBag.ArtistList as IEnumerable<SelectListItem>, new { style = "width: 305px;" })
      </div>
    </div>
    <div style="float: right;">
      <label for="quantitySold">Cantidad vendida</label>
      <input type="number" class="form-control" id="quantitySold" name="quantitySold" min="0" max="1000" value="@Model.QuantitySold">
    </div>
    <div>
      <div style="float: left;">
        <label for="avgStars">Calificación promedio (entre 1 y 5)</label>
        <input type="number" class="form-control" id="avgStars" name="avgStars" min="1" max="5" step="0.25" value="@Model.AvgStars">
      </div>
      <div style="float: right;">
        <label for="price">Precio ($)</label>
        <input type="number" class="form-control" id="price" name="price" min="10" max="1000" step="10" value="@Model.Price">
      </div>
    </div>
    <div style="clear:both;">
      <label for="image">Imagen</label>
      <p class="small-text">Archivo actual: @(Model.Image ?? "ninguno")</p>
      <input type="file" class="form-control-file" id="image" name="image" accept="image/*">
    </div>

    @Html.HiddenFor(model => model.Id)
    <div style="clear:both;">
      <button type="submit" class="button-principal">Guardar cambios</button>
    </div>
  </form>
</div>