@using Common.Entities;
@model IList<Product>

		<div class="home">
				<h2>NUEVOS PRODUCTOS</h2>
				<br />

				@for (int i = 0; i < Model.Count; i++)
				{
						var item = Model[i];
						<div class="@(i == 0 ? "card":"card-collapsed")" card-number="@i">
								<h1>@item.Artist.LastName - @item.Title.ToUpper()</h1>
								<br />
								<p class="main-description">
										@item.Description
								</p>

								<picture>
										<img class="home-product-picture" src="/Content/Images/Products/@item.Image" alt="Imagen no disponible" />
								</picture>

								<div class="price">
										<p>U$S @item.Price.-</p>
								</div>

								<div class="buttons-panel">
										<button class="button-secondary" onclick="location.href='@Url.Action("Details", "Product", new { id = item.Id})'">Detalles</button>
										<button class="button-principal" onclick="location.href='@Url.Action("Add", "Cart", new { id = item.Id})'">Añadir</button>
								</div>

						</div>
				}

				<div>
						<ul>
								<li>
										<a class="left-arrow" href="javascript:leftButtonClick()">
												<img src="~/Content/Images/left.icon.png" />
										</a>
								</li>
								<li class="dots">
										<a class="dot" href="javascript:dotClick(0)">
												<img src="~/Content/Images/Elipse 2.png" />
										</a>
										<a class="dot" href="javascript:dotClick(1)">
												<img src="~/Content/Images/Elipse 2.png" />
										</a>
										<a class="dot-selected" href="javascript:dotClick(2)">
												<img src="~/Content/Images/Elipse 2.png" />
										</a>
								</li>
								<li>
										<a class="right-arrow" href="javascript:rightButtonClick()">
												<img src="~/Content/Images/right.icon.png" />
										</a>
								</li>
						</ul>
				</div>

		</div>

		<script>
				var index = 0;

				function leftButtonClick() {
						if (index > 0)
								index--;
						loadCard();
				}
				function rightButtonClick() {
						if (index < 2)
								index++;
						loadCard();
				}

				function dotClick(newIndex) {
						index = newIndex;
						loadCard();
				}

				function loadCard()
				{
						$("[card-number]").each(function (index) {
								this.className = "card-collapsed";
						});

						$("[card-number='" + index + "']")[0].className = "card";
				}
		</script>